/* MEDIA QUERY */

/* Responsive design */

@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  .container {
    grid-gap: 2px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto auto 50px;
    grid-template-areas:
      "h h h h h"
      "s s s s s"
      "bc bc bc bc bc"
      "f f f f f";
  }

  .title h1 {
    font-size: 48px;
  }

  .header {
    flex-direction: column;
    justify-content: center;
  }

  .blog-content {
    grid-gap: 2px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      "cb cb"
      "bl bl";
  }

  .utility {
    flex-direction: column;
    justify-content: center;
  }
}
