/* MEDIA QUERY */

/* Responsive design */

@media only screen and (min-width: 992px) {
  .container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto 50px;
    grid-template-areas:
      "s s s h h h h h h h h h"
      "s s s bc bc bc bc bc bc bc bc bc"
      "f f f f f f f f f f f f";
  }

  #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }
}

@media only screen and (max-width: 992px) {
  /* tablets [ upto 768px] */
  .container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto 50px;
    grid-template-areas:
      "s s s h h h h h h h h h"
      "s s s bc bc bc bc bc bc bc bc bc"
      "f f f f f f f f f f f f";
  }

  #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }

  .blog-content,
  .blog-post-content {
    flex-direction: column;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 768px) {
  /* tablets [ upto 768px] */

  .container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto 50px;
    grid-template-areas:
      "s s s h h h h h h h h h"
      "s s s bc bc bc bc bc bc bc bc bc"
      "f f f f f f f f f f f f";
  }

  #header {
    flex-direction: column;
    justify-content: space-between;
  }

  .utility {
    flex-direction: column;
    align-items: flex-start;
  }

  .blog-description {
    min-width: 100%;
  }

  .sidebar {
    height: auto;
  }

  #contact > p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 576px) {
  /* phones, smartphones [ upto 576px] */

  .container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto 50px;
    grid-template-areas:
      "h h h h h h h h h h h h"
      "s s s s s s s s s s s s"
      "bc bc bc bc bc bc bc bc bc bc bc bc"
      "f f f f f f f f f f f f";
  }

  #directory {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #social-media {
    min-width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
}
