/* GLOBAL STYLE */
/* importing google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Pacifico&family=Trocchi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap");

/* importing other css files */
@import "sidebar.css";
@import "blog-post.css";
@import "blog-card.css";
@import "responsive-media-query.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* MAIN CONTAINER SECTION */
.container {
  max-width: 100vw;
  height: auto;
  background-color: lightyellow;
  display: grid;
  grid-gap: 3px;
}

/* HEADER SECTION */
#header {
  background-color: #202756;
  font-family: "Trocchi", serif;
  grid-area: h;
}

.title h1 {
  color: white;
  font-size: 52px;
  padding: 10px;
}

.sub-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* padding-right: 10px; */
  color: white;
}

.issue,
.current-date {
  padding: 5px 0;
}

.blog-content,
.blog-post-content {
  background-color: lightyellow;
  grid-area: bc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* FOOTER SECTION */
footer {
  background-color: #ffff00;
  color: #000;
  grid-area: f;
  text-align: center;
}
